<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Public</key>
	<string>23164b2c69327c5f9a3b6b22c80a3220</string>
	<key>Private</key>
	<string>ba8e981267a81e2177403e501a01d21f1098c9b6</string>
</dict>
</plist>
